In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("adult.data.csv")

In [3]:
print(df)

       age         workclass  fnlwgt   education  education-num  \
0       39         State-gov   77516   Bachelors             13
1       50  Self-emp-not-inc   83311   Bachelors             13
2       38           Private  215646     HS-grad              9
3       53           Private  234721        11th              7
4       28           Private  338409   Bachelors             13
...    ...               ...     ...         ...            ...
32556   27           Private  257302  Assoc-acdm             12
32557   40           Private  154374     HS-grad              9
32558   58           Private  151910     HS-grad              9
32559   22           Private  201490     HS-grad              9
32560   52      Self-emp-inc  287927     HS-grad              9

           marital-status         occupation   relationship   race     sex  \
0           Never-married       Adm-clerical  Not-in-family  White    Male
1      Married-civ-spouse    Exec-managerial        Husband  White    Male
2                Divorced  Handlers-cleaners  Not-in-family  White    Male
3      Married-civ-spouse  Handlers-cleaners        Husband  Black    Male
4      Married-civ-spouse     Prof-specialty           Wife  Black  Female
...                   ...                ...            ...    ...     ...
32556  Married-civ-spouse       Tech-support           Wife  White  Female
32557  Married-civ-spouse  Machine-op-inspct        Husband  White    Male
32558             Widowed       Adm-clerical      Unmarried  White  Female
32559       Never-married       Adm-clerical      Own-child  White    Male
32560  Married-civ-spouse    Exec-managerial           Wife  White  Female

       capital-gain  capital-loss  hours-per-week native-country salary
0              2174             0              40  United-States  <=50K
1                 0             0              13  United-States  <=50K
2                 0             0              40  United-States  <=50K
3                 0             0              40  United-States  <=50K
4                 0             0              40           Cuba  <=50K
...             ...           ...             ...            ...    ...
32556             0             0              38  United-States  <=50K
32557             0             0              40  United-States   >50K
32558             0             0              40  United-States  <=50K
32559             0             0              20  United-States  <=50K
32560         15024             0              40  United-States   >50K

[32561 rows x 15 columns]

In [4]:
print(len(df['race'].drop_duplicates()))

5

In [5]:
print(df.groupby('race').size())

race
Amer-Indian-Eskimo      311
Asian-Pac-Islander     1039
Black                  3124
Other                   271
White                 27816
dtype: int64

In [6]:
df.loc[df['sex'] == "Male"]['age'].mean()

39.43354749885268

In [7]:
len(df.query("education == 'Bachelors'")) / len(df) * 100

16.44605509658794

In [8]:
df.query("education == 'Bachelors' or education == 'Masters' or education == 'Doctorate'")

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32538,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K
32539,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
32544,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,<=50K
32553,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K

In [9]:
rich = df [df.salary == '>50K']

In [10]:
len( rich [ rich.education == "Bachelors" ] ) + len( rich [ rich.education == "Masters" ] ) + len( rich [ rich.education == "Doctorate" ] )

3486

In [11]:
round( ( (len( rich [ rich.education == "Bachelors" ] ) + len( rich [ rich.education == "Masters" ] ) + len( rich [ rich.education == "Doctorate" ] ) ) / ( ( len( df [ df.education == "Bachelors" ] ) + len( df [ df.education == "Masters" ] ) + len( df [ df.education == "Doctorate" ] ) ) ) *100), 1)

46.5

In [12]:
len(df [df.education == "Masters" ])

1723

In [13]:
len( df.query("education != 'Bachelors' and education != 'Masters' and education != 'Doctorate'").query("salary == '>50K'") ) / len(df) * 100

13.374896348392248

In [14]:
df['hours-per-week'].min()

1

In [15]:
df.loc[ (df['hours-per-week'] == 1) ].loc[df['salary'] == '>50K']

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
189,58,State-gov,109567,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,1,United-States,>50K
20072,65,?,76043,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,1,United-States,>50K

In [16]:
df[ 'native-country' ]

0        United-States
1        United-States
2        United-States
3        United-States
4                 Cuba
             ...
32556    United-States
32557    United-States
32558    United-States
32559    United-States
32560    United-States
Name: native-country, Length: 32561, dtype: object

In [17]:
countries = df[ 'native-country' ].drop_duplicates()

In [18]:
countries

0                     United-States
4                              Cuba
6                           Jamaica
11                            India
14                                ?
15                           Mexico
27                            South
35                      Puerto-Rico
52                         Honduras
98                          England
112                          Canada
122                         Germany
135                            Iran
152                     Philippines
201                           Italy
217                          Poland
228                        Columbia
255                        Cambodia
265                        Thailand
289                         Ecuador
304                            Laos
311                          Taiwan
338                           Haiti
359                        Portugal
427              Dominican-Republic
497                     El-Salvador
503                          France
771                       Guatemala
873                           China
1020                          Japan
1025                     Yugoslavia
1430                           Peru
1565     Outlying-US(Guam-USVI-etc)
1586                       Scotland
1794                Trinadad&Tobago
1888                         Greece
1948                      Nicaragua
2259                        Vietnam
2655                           Hong
2966                        Ireland
8562                        Hungary
19609            Holand-Netherlands
Name: native-country, dtype: object

In [19]:
country_average = {}
for c in countries:
  ls = df [ df['native-country'] == c ] 
  print( c, len( ls[ ls.salary == '>50K' ] )/ len( ls ) * 100 )
  country_average = country_average + { c : len( ls[ ls.salary == '>50K' ] )/ len( ls ) * 100 }

print( country_average )

United-States 24.583476174151524

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [ ]:
df[ df['salary'] == '>50K' ]['native-country'].value_counts().index[0]

'United-States'

In [ ]:
df[ df['salary'] == '>50K' ]['native-country'].value_counts()[ 'United-States']

7171

In [ ]:
df.loc['native-country':]

Empty DataFrame
Columns: [age, workclass, fnlwgt, education, education-num, marital-status, occupation, relationship, race, sex, capital-gain, capital-loss, hours-per-week, native-country, salary]
Index: []